.recipe-list{
    margin-top: 20px;
    text-align: center;
}

.recipe-list h2{
    font-size: 30px;
}

.box{
    display: flex;
    justify-content: center;
    margin: 40px;
} 

.weight {
    width: 10vw;
    display: flex;
    flex-direction: column;
}

.basis{
    width: 10vw;
    display: flex;
    flex-direction: column;
}

.method{
    margin-bottom: 20px;
}

